[data-validation] span,
[data-validation] div {
  color: $alert-color !important;
}

[data-validation] [data-case] {
  display: none;
}

[data-validation] [data-case].show {
  display: block;
}

[data-validation].display-inline [data-case].show  {
  display: inline;
}

[data-confirmation],
.hide {
  display: none;
}

form {

  .button {

    margin-bottom: 0;

  }

}