#navigation {

  width: 100%;
  background-color: $gainsboro;
  text-align: center;

  a {

    display: inline-block;
    line-height: 3rem;
    padding: 0 1rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $steel;

    &:hover {

      color: $tuatara;

    }

  }

}